
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
      font-family: 'Open Sans', sans-serif;
      /* vertical height */
      height: 100vh; 
      border: 1px solid;
    }
    /* header */
    header {
      padding: 5px 30px;
      display: flex;
      align-content: center;
      align-items: baseline;
      justify-content: space-between;
      border: 1px solid;
      height: 15vh;
      /* 100 - 10 + 60 + 20 + 10 */
    }
    li {
      display: inline-block;
      margin-left: 20px;
    }
    li a {
      text-decoration: none;
      color: black;
    }
    /* section */
    .section-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: #B5CCCA;
      text-align: center;
      border: 1px solid red;
      height: 60vh;
      padding-bottom: 10px;
    }
    .icon1 {
      width: 25px;
      height: 25px;
      margin-top: 5px;
      margin-bottom: 0;
      background: #B5CCCA;
    }
    .code {
      width: 220px;
      background: black;
    }
    .coffee {
      width: 220px;
      background: black;
    }
    .music {
      width: 220px;
      background: black;
    }

    /* section 2 */
    .section-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 10px;
      text-align: center;
      height: 20vh;
      border: 1px solid green;
    }
    .box__sun {
      width: 120px;
      background: #B5CCCA;
    }
    .box__friends {
      width: 120px;
      background: #B5CCCA;
    }
    .box__travel {
      width: 120px;
      background: #B5CCCA;
    }
    .box__movies {
      width: 120px;
      background: #B5CCCA;
    }
    .box__nature {
      width: 120px;
      background: #B5CCCA;
    }
    .icon2 {
      width: 15px;
        margin-bottom: -15px;
      }
    /* footer */
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7px;
      height: 20px;
      border-top: 1px solid #B5CCCA;
      text-decoration: none;
      border: 1px solid red;
      padding: 10px;
      height: 5vh;
    }
    a {
      text-decoration: none;
      font-size: 10px;
      color: black;
    }
    .icon3 {
      width: 8px;
      height: 8px;
    }
